services:
  thanos-receive:
    image: quay.io/thanos/thanos:v0.40.1
    user: root
    command:
      - receive
      - --grpc-address=0.0.0.0:10901
      - --http-address=0.0.0.0:10902
      - --remote-write.address=0.0.0.0:19291
      - --receive.local-endpoint=thanos-receive:10901
      - --tsdb.path=/data
      - --receive.replication-factor=1
      - --label=receive_replica="0"
      - --receive.default-tenant-id=default-tenant
    ports:
      - "10901:10901"
      - "10902:10902"
      - "19291:19291"
    volumes:
      - thanos-data:/data

  thanos-query:
    image: quay.io/thanos/thanos:v0.40.1
    command:
      - query
      - --grpc-address=0.0.0.0:10901
      - --http-address=0.0.0.0:9090
      - --endpoint=dns+thanos-receive:10901
    ports:
      - "9090:9090"
    depends_on:
      - thanos-receive

  alertmanager:
    image: quay.io/prometheus/alertmanager:v0.30.0
    command:
      - --config.file=/etc/alertmanager/alertmanager.yaml
      - --cluster.listen-address=
    ports:
      - "9093:9093"
    volumes:
      - ./config/alertmanager.yaml:/etc/alertmanager/alertmanager.yaml

  grafana:
    image: grafana/grafana:12.3
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_RENDERING_SERVER_URL=http://renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
    volumes:
      - ./config/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./config/grafana/alert_rules.yaml:/etc/grafana/provisioning/alerting/alert_rules.yaml
      - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./config/grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./config/grafana/dashboards:/etc/grafana/provisioning/dashboards/json
    depends_on:
      - thanos-query
      - alertmanager
      - mailpit
      - renderer

  renderer:
    image: grafana/grafana-image-renderer:v5.1.0
    ports:
      - 8081
    environment:
      ENABLE_METRICS: "true"

  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/database.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    volumes:
      - mailpit-data:/data

  grafana-config-init:
    image: curlimages/curl
    depends_on:
      - grafana
    command: >
      /bin/sh -c "
        echo 'Waiting for Grafana to be ready...'
        while [ \$(curl -s -o /dev/null -w '%{http_code}' http://grafana:3000/api/health) -ne 200 ]; do
          sleep 2
        done
        echo 'Grafana is ready. Configuring Alertmanager choice to ALL...'
        curl -X POST -H 'Content-Type: application/json' -d '{\"alertmanagersChoice\": \"all\"}' http://grafana:3000/api/v1/ngalert/admin_config
        echo 'Configuration complete.'
      "

  telegraf:
    image: telegraf:1.28
    volumes:
      - ./config/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - thanos-receive

volumes:
  thanos-data:
  mailpit-data:
