apiVersion: 1

datasources:
  - name: Thanos
    type: prometheus
    access: proxy
    url: http://thanos-query:9090
    isDefault: true
    uid: thanos
    jsonData:
      prometheusType: "thanos"
      alertmanagerUid: "alertmanager"
      manageAlerts: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    uid: alertmanager
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: true
