global:
  resolve_timeout: 5m
  smtp_smarthost: 'mailpit:1025'
  smtp_from: 'alertmanager@example.com'
  smtp_require_tls: false

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'email-receiver'

receivers:
- name: 'email-receiver'
  email_configs:
  - to: 'admin@example.com'
    send_resolved: true